<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des villes</title>
</head>
<body>
    <h1>Liste des villes</h1>
    <ul>
        {% for city in cities %}
            <li>{{ city.name }} ({{ city.lat }}, {{ city.long }})</li>
        {% endfor %}
    </ul>
</body>
</html>